<div class="AboutPage">
    <h1>About <%= APP_NAME %></h1>
    <div class="AboutPage-Section">
        <h2>Overview</h2>
        <p>
            <%= APP_NAME %> was created to provide world-builders with an 
            organized tracking system for their world notes. Although it is 
            designed with game masters and players of table-top role-playing 
            games in mind, authors and story-board writers for all manner of 
            media are welcome.
        </p>
    </div>
    <div class="AboutPage-Section">
        <h2>What is it?</h2>
        <p>
            <%= APP_NAME %> allows writers to create an ever-expanding linkable 
            network of information pages for keeping track of the people, places, 
            factions, and stories that make your worlds feel alive. An account 
            allows you to create as many worlds or collections as you want and, 
            within each world, build out an endless network of characters, 
            locations, organizations, and lore which can all be custom linked,
            allowing you to navigate related sections of notes with ease.
        </p>
    </div>
    <div class="AboutPage-Section">
        <h2>How does it work?</h2>
        <p>
            Once you have created an account, you will be taken to your home page.
            From here you can create and view your "collections" or "worlds". When 
            you create a world, you will be taken to a fresh page ready for you to 
            begin building. Each of your worlds is isolated to prevent your different 
            creative projects from bleeding into each other. If you want to switch 
            worlds, use the link at the top of the page to return to your home page 
            at any time.<br>
            Within the world view, there is a place to upload an image, a variety of 
            text boxes for your information, and, the crowning feature: the Affiliations 
            section. Use the edit/save buttons to modify and protect your writing or 
            change the name of your world. For affiliations, find the page category you 
            want to create and click "new". Any entries you create from the world page 
            will start fresh with no affiliations of their own. All entries, no matter 
            how they were created, will be displayed on the world page.<br>
            All other pages have different layouts depending on the category but function 
            the same as the world page with two notable exceptions. First, when you create 
            a new page from here, the new page will automatically be created with an 
            affiliation to the page you created it from. (If you do this by accident, 
            don't worry. You can easily delete the affiliation when you're done.) Second, 
            you will see a "connect" button at the top of each affiliation section. This 
            is how you create affiliations between two existing pages. More than one 
            affiliation can exist between the same two entries.<br>
        </p>
    </div>
    <div class="AboutPage-Section">
        <h2>What's coming?</h2>
        <p>
            <%= APP_NAME %> is still in development and will continue to be in 
            order to accomodate the changing needs of world-builders across the 
            creative spectrum.<br>
            Future improvements in the works include:<br>
            <ul>
                <li>Hierarchical navigation of locations.</li>
                <li>Two-way relationships between characters.</li>
                <li>Move/copy pages from one collection to another.</li>
                <li>Export/import collections and pages to save a local copy or share with friends.</li>
                <li>Share read/write access to worlds to allow collaboration.</li>
                <li>Stat blocks for a variety of TTRPG systems.</li>
            </ul>
        </p>
    </div>
</div>