<div class="AboutPage">
    <h1>About <%= APP_NAME %></h1>
    <div class="AboutPage-Section">
        <h2>Overview</h2>
        <p>
            <%= APP_NAME %> was created to provide world-builders with an 
            organized tracking system for their world notes. Although it is 
            designed with game masters and players of table-top role-playing 
            games in mind, authors and story-board writers for all manner of 
            media are welcome.
        </p>
    </div>
    <div class="AboutPage-Section">
        <h2>What is it?</h2>
        <p>
            <%= APP_NAME %> allows writers to create an ever-expanding linkable 
            network of information pages for keeping track of the people, places, 
            factions, and stories that make your worlds feel alive. An account 
            allows you to create as many worlds or collections as you want and, 
            within each world, build out an endless network of characters, 
            locations, organizations, and lore which can all be custom linked,
            allowing you to navigate related sections of notes with ease.
        </p>
    </div>
    <div class="AboutPage-Section">
        <h2>How does it work?</h2>
        <p>
            Once you have created an account, you will be taken to your home page.
            From here you can create and view your "collections" or "worlds". When 
            you create a world, you will be taken to a fresh page ready for you to 
            begin building. Each of your worlds is isolated to prevent your different 
            creative projects from bleeding into each other. If you want to switch 
            worlds, use the link at the top of the page to return to your home page 
            at any time.<br>
            Within the world view, there is a place to upload an image, a variety of 
            text boxes for your information, and, the crowning feature: the Affiliations 
            section. Use the edit/save buttons to modify and protect your writing or 
            change the name of your world. For affiliations, find the page category you 
            want to create and click "new". Any entries you create from the world page 
            will start fresh with no affiliations of their own. All entries, no matter 
            how they were created, will be displayed on the world page.<br>
            All other pages have different layouts depending on the category but function 
            the same as the world page with two notable exceptions. First, when you create 
            a new page from here, the new page will automatically be created with an 
            affiliation to the page you created it from. (If you do this by accident, 
            don't worry. You can easily delete the affiliation when you're done.) Second, 
            you will see a "connect" button at the top of each affiliation section. This 
            is how you create affiliations between two existing pages. More than one 
            affiliation can exist between the same two entries.<br>
            Most affiliations between two pages work the same way: one relationship is 
            defined and it appears beside the appropriate entry on each page. For example,
            a character, King Bob, has an affiliation with a location, Castle, labled "home". 
            On King Bob's character page, it will list "Castle - home" under his location 
            affiliations. On the Castle location page, it will list "King Bob - home" under 
            character affiliations. There are two notable exceptions to this.<br>
            First, a character-to-character relationship does not have to be symmetric. 
            When you create a relationship between King Bob and Lord Ominis, you could choose 
            "Royal advisor" and "Sacrificial candidate" so they appear differently on each 
            other's page. This allows clearer definition for relationships like father/son, 
            employer/employee, etc.<br>
            The second case is location-to-location affiliations. Locations are set up to be 
            nested into each other. Any location created from the world page will be entirely 
            independent until it is added to another location, at which point it will not appear 
            on the world page, but only under the location where it has been placed. This allows 
            for cleaner organization of your locations and settings. For example, you will be 
            able to select "California" from your world page, then see the options for "San Diego",
            "San Francisco", and "Los Angeles". Selecting San Francisco will give you a link back 
            to California followed by a list of all the locations you've added there. This way you 
            don't have to filter through every tavern in every city and town to find the kingdom 
            entry on your world page. You cannot connect a location to one that is already listed 
            in its hierarchy and each location can only have one immediate predecessor.<br>
        </p>
    </div>
    <div class="AboutPage-Section">
        <h2>What's coming?</h2>
        <p>
            <%= APP_NAME %> is still in development and will continue to be in 
            order to accomodate the changing needs of world-builders across the 
            creative spectrum.<br>
            Future improvements in the works include:<br>
            <ul>
                <li>Move/copy pages from one collection to another.</li>
                <li>Export/import collections and pages to save a local copy or share with friends.</li>
                <li>Share read/write access to worlds to allow collaboration.</li>
                <li>Stat blocks for a variety of TTRPG systems.</li>
            </ul>
        </p>
    </div>
</div>