<div class="SplashPage">
    <h1>Welcome, <%= user %>!</h1>
    <select class="DropDown" id="world-select" name="world-select" onchange="selectWorld()">
        <option value="" disabled selected hidden>Select World</option>
        <% collections.forEach(world => { %>
            <option value="/collection/<%= world.id %>">
                <%= world.name %>
            </option>
        <% }) %>
    </select>
    <a href="/createCollection">
        <button class="MenuButton" type="button">New World</button>
    </a>
    <button class="MenuButton disabled" disabled title="Not implemented">Import</button>
</div>