<div class="SplashPage">
    <h1><%= APP_NAME %></h1>
    <h2>An app that does stuff</h2> <!-- TODO: obviously come up with something else -->
    <button class="MenuButton" type="button" onclick="alert('Login not implemented')">Login</button>
    <button class="MenuButton" type="button" onclick="alert('Create account not implemented')">Create Account</button>
</div>