<div class="SplashPage">
    <h1><%= APP_NAME %></h1>
    <h2>A world-building tool to document your discoveries and creations</h2>
    <% if (locals.error) { %>
        <p class="ErrorMessage"><%= error %></p>
    <% } %>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button class="MenuButton" type="submit">Login</button>
        <button class="MenuButton" type="submit" formaction="/signup" formnovalidate>Create Account</button>
    </form>
</div>