<div class="WorldPage">
    <div class="Main">
        <div class="Title">
            <h1><%= worldName %></h1>
        </div>
        <div class="Info">
            <div class="Description">
                <img src="/images/Continent.png" alt="Image">
                <%- include('partials/noteArea', {sectionTitle: 'Description', id: 'description', value: 'Back when the world was new, the planet Earth was down on its luck and everywhere gigantic brutes called titans ran amok.' }) %>
            </div>
            <%- include('partials/noteArea', {sectionTitle: 'Notes', id: 'notes', value: 'E, D, G, F#...' }) %>
        </div>
    </div>

    <div class="Links">
        <textarea id="characters" name="characters" placeholder="Links to Characters" style="flex: 1;"></textarea>
        <textarea id="locations" name="locations" placeholder="Links to Locations" style="flex: 1;"></textarea>
        <textarea id="lore" name="lore" placeholder="Links to Lore" style="flex: 1;"></textarea>
    </div>
</div>