<span class="NavBar">
    <a href="/about">About</a>
    <a href="/dev">Dev (remove this)</a>
    <% if (locals.user) { %>
        <a href="/home">Home</a>
        <form action="/logout" method="POST" style="display:inline;">
            <button type="submit" class="navButton">Logout</button>
        </form>
    <% } else { %>
        <a href="/">Main</a>
    <% } %>
</span>