* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
    width: 100%;
}

.Background
{
    background-color: rgb(209, 183, 112);
    font-family: 'Papyrus', 'Garamond', sans-serif;
    /* TODO: Add a background radial gradient or texture */
}

.SplashPage
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;

    height: 100vh;
    width: 100%;

    margin: 0;
    border: 0px solid black;
    padding: 0;

    text-align: center;

    font-family: 'Papyrus', 'Garamond', sans-serif;
    
}

.WorldPage
{
    display: flex;
    flex-direction: column;
}

.WorldPage.Title
{

}

.WorldPage.Info
{
    display: flex;
    flex-direction: row;
}

.CharacterPage
{

}

.LocationPage
{

}

h1
{
    font-size: 300%;
}

h2
{
    font-size: 200%;
}

.MenuButton
{
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: rgb(212, 161, 20);

    font-family: papyrus, garamond, sans-serif;
    font-size: 200%;
}

.MenuButton.disabled
{
    background-color: rgb(128, 128, 128);
    color: rgb(64, 64, 64)
}

.DropDown
{
    width: max-content;
    padding-left: 5px;
    padding-right: 15px;
    text-align: center;
    background-color: rgb(212, 161, 20);

    font-family: papyrus, garamond, sans-serif;
    font-size: 200%;
}
