/*============================================================
    GLOBAL STYLES
  ============================================================*/

    /* VARIABLES */
        :root 
        {
            /* Colors */
            --base-color: rgb(209, 183, 112);
            --emphasis-color: rgb(212, 161, 20);
            --disabled-bg: rgb(128, 128, 128);

            --text-color: black;
            --alert-color: maroon;
            --disabled-text: rgb(64, 64, 64);

            /* Fonts */
            --base-font-size: 16px;
            --font-family: 'Papyrus', 'Garamond', sans-serif;

            /* Borders */
            --section-border: 2px solid black;
        }

    /* SET DEFAULTS */
        /* Remove browser defaults. Include borders in size calculations */
        * 
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html
        {
            height: 100%;
        }

        /* Set the standardized background */
        body
        {
            display: flex;
            flex-direction: column;
            height: 100%;
            background-color: var(--base-color);
            color: var(--text-color);
            font-family: var(--font-family);
            font-size: var(--base-font-size);
            /* TODO: Add a background radial gradient or texture */
        }

    /* PAGE LAYOUT REGIONS */
        header
        {
            flex: 0 0 auto;
        }

        main
        {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        footer
        {
            flex: 0 0 auto;
        }

    /* HTML TAGS */
        form
        {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }

        button, input, select, textarea
        {
            font-family: inherit;
            font-size: inherit;
        }

        a
        {
            color: var(--text-color);
            text-decoration: none;
            font-weight: bold;
        }

        h1
        {
            font-size: 3rem;
        }

        h2
        {
            font-size: 2rem;
        }

/*============================================================
    PARTIALS
  ============================================================*/
    /* NAVIGATION BAR */
        .NavBar
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 50px;
            justify-content: space-between;

            background-color: var(--emphasis-color);

            font-size: 1.2rem;
        }

        /* Make navigation buttons and links consistent. Button necessary for secure logout */
        .NavBar a, .navButton
        {
            font-family: inherit;
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--text-color);
            text-decoration: none;
            border: transparent;
            cursor: pointer;
            background: none;
        }

    /* TITLE AREA */
        .TitleArea
        {
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            align-items: center;
            justify-content: left;
            margin: 0;
        }

        .TitleArea-Text
        {
            flex: 1;
            align-items: center;
            justify-content: center;

            font-size: 2.5rem;
            font-weight: bold;
            background-color: var(--base-color);
            border: transparent;
        }

    /* NOTE AREA */
    .NoteArea
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;

        border: var(--section-border);
    }

    .NoteArea header
    {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .NoteArea header .SectionTitle
    {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .EditToggle
    {
        padding: 2px;

        background-color: var(--emphasis-color);
    }

    .NoteArea textarea
    {
        flex: 1;
        resize: none;

        font-size: 1rem;
        font-family: 'Papyrus', 'Garamond', sans-serif;
    }


/* Formatting for a StatBlock element */
.StatBlock
{
    flex: 2;
    display: flex;
    flex-direction: column;
    min-height: 0;

    border: var(--section-border);
}

/*============================================================
    PAGE FORMATTING
  ============================================================*/

/* Format for Menu pages */
.SplashPage
{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    text-align: center;
}

/* Format for the World page */
.WorldPage
{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;

    min-height: 0;
    height: 100vh;
    width: 100%;
}

    .WorldPage .Main
    {
        flex: 4;
        display: flex;
        flex-direction: column;

        min-height: 0;
    }

        .WorldPage .Main .Title
        {
            flex: 0 0 auto;
            margin: 10px;
        }

        .WorldPage .Main .Info
        {
            display: flex;
            flex-direction: row;
            flex: 1;
            gap: 20px;

            min-height: 0;
        }

            .WorldPage .Main .Info .Description
            {
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 20px;
            }

                .WorldPage .Main .Info .Description img
                {
                    flex: 1;
                    overflow: hidden;
                    min-width: 0;
                    min-height: 0;
                    width: auto;
                    height: auto;
                    max-height: 100%;
                    max-width: 100%;
                    object-fit: contain;

                    border: var(--section-border);
                }

                .WorldPage .Main .Info .Text
                {
                    flex: 1;
                    display: flex;
                    height: 100%;
                    width: 100%;
                }

    .WorldPage .Links
    {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 20px;
    }

/* Format for the Character page */
.CharacterPage
{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;

    height: 100vh;
    width: 100%;
}

    .CharacterPage .Info
    {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

        .CharacterPage .Info .Overview
        {
            flex: 2;
            min-height: 0;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        
            .CharacterPage .Info .Overview img
            {
                flex: 1;
                overflow: hidden;
                min-width: 0;
                min-height: 0;
                height: 100%;
                width: 100%;
                object-fit: contain;

                border: var(--section-border);
            }

            .CharacterPage .Info .Overview .Text
            {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

                .CharacterPage .Info .Overview .Text > header
                {
                    display: flex;
                    flex-direction: column;
                    flex: 0 0 auto;
                    align-items: center;
                    margin: 0;                    
                }
        
        .CharacterPage .Info .History
        {
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

    .CharacterPage .Links
    {
        display: flex;
        flex: 1;
        flex-direction: row;
        gap: 10px;
    }

/* Format for the Location page */
.LocationPage
{

}

/* Format for the Lore page */
.LorePage
{

}



/* OTHER ELEMENTS */

.MenuButton
{
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: var(--emphasis-color);

    font-size: 2rem;
}

.MenuButton.disabled
{
    background-color: rgb(128, 128, 128);
    color: rgb(64, 64, 64)
}

.DropDown
{
    width: max-content;
    padding-left: 5px;
    padding-right: 15px;
    text-align: center;
    background-color: var(--emphasis-color);

    font-size: 200%;
}

.ErrorMessage
{
    font-weight: bold;
    color: var(--alert-color);
}

