/*============================================================
    GLOBAL STYLES
  ============================================================*/

    /* VARIABLES */
        :root {
            /* Colors */
            --base-color: rgb(209, 183, 112);
            --emphasis-color: rgb(212, 161, 20);
            --disabled-bg: rgb(128, 128, 128);

            --text-color: black;
            --alert-color: maroon;
            --disabled-text: rgb(64, 64, 64);

            /* Fonts */
            --base-font-size: 16px;
            --mobile-font-size: 10px;
            --font-family: 'Papyrus', 'Garamond', sans-serif;

            /* Borders */
            --section-border: 2px solid black;
        }

    /* SET DEFAULTS */
        /* Remove browser defaults. Include borders in size calculations */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scrollbar-color: var(--text-color) var(--emphasis-color);
            scrollbar-width: thin;
        }

        html {
            height: 100%;
            font-size: var(--base-font-size);
        }

        /* Check for small screens (mobile device). Still only works in landscape. */
        @media (max-width: 1000px) {
            html {
                font-size: var(--mobile-font-size);
            }
        }

        /* Set the standardized background */
        body {
            display: flex;
            flex-direction: column;
            height: 100%;
            background-color: var(--base-color);
            color: var(--text-color);
            font-family: var(--font-family);
            /* TODO: Add a background radial gradient or texture */
        }

    /* PAGE LAYOUT REGIONS */
        header {
            flex: 0 0 auto;
        }

        main {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        footer {
            flex: 0 0 auto;
        }

    /* HTML TAGS */
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }

        button, input, select, textarea {
            font-family: inherit;
            font-size: inherit;
        }

        a {
            color: var(--text-color);
            text-decoration: none;
            font-weight: bold;
        }

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2rem;
        }

        img {
            flex: 1;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

        ul {
            margin-left: 40px;
        }

/*============================================================
    PARTIALS
  ============================================================*/
    /* NAVIGATION BAR */
        .NavBar {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 50px;
            justify-content: space-between;

            background-color: var(--emphasis-color);

            font-size: 1.2rem;
        }

        /* Make navigation buttons and links consistent. Button necessary for secure logout */
        .NavBar a, .navButton {
            font-family: inherit;
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--text-color);
            text-decoration: none;
            border: transparent;
            cursor: pointer;
            background: none;
        }

    /* TITLE AREA */
        .TitleArea {
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            align-items: center;
            justify-content: left;
            margin: 0;
        }

        .TitleArea-Text {
            flex: 1;
            align-items: center;
            justify-content: center;
            margin-left: 20px;

            font-size: 2.5rem;
            font-weight: bold;
            background-color: var(--base-color);
            border: transparent;
        }

    /* NOTE AREA */
        .NoteArea {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-height: 0;

            border: var(--section-border);
        }

        .NoteArea-Head {
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            align-items: center;
            justify-content: space-between;
            margin: 0;
        }

        .NoteArea-Title {
            font-size: 1.2rem;
            font-weight: bold;
        }
        
        .NoteArea-Text {
            flex: 1;
            resize: none;
            overflow-y: auto;

            font-size: 1rem;
            font-family: 'Papyrus', 'Garamond', sans-serif;
        }

    /* IMAGE AREA */
        .ImageArea {
            position: relative;

            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            min-width: 0;
            min-height: 0;
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;

            border: var(--section-border);
        }

        .ImageArea-DeleteButton {
            position: absolute;
            top: 5px;
            right: 5px;

            padding: 0px 2px;

            background-color: var(--emphasis-color);
            opacity: .3;

            flex: 0 0 auto;
        }

        .ImageArea-DeleteButton:hover {
            opacity: 1;
        }
    
    /* ASSOCIATIONS */
        .AssocArea {
            flex: 1;
            display: flex;
            flex-direction: column;
            min-height: 0;
            
            border: var(--section-border);
        }

        .AssocArea-Head {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            border-bottom: var(--section-border);
        }

        .AssocArea-Title {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .AssocArea-List {
            flex: 1;
            resize: none;
            overflow-y: auto;
            display: flex;
            flex-direction: column;

            margin-left: 10px;
        }

        .AssocArea-Entry {
            flex: 0 0 auto;
            display: flex;
            justify-content: space-between;
        }

        .AssocArea-DeleteButton {
            padding: 0px 2px;

            background-color: var(--emphasis-color);
        }

        .AssocArea-Parent {
            border-bottom: var(--section-border);
        }
    
    /* SHARED ELEMENTS */

        .EditToggle {
            padding: 2px;

            background-color: var(--emphasis-color);
        }

/* Formatting for a StatBlock element */
.StatBlock
{
    flex: 2;
    display: flex;
    flex-direction: column;
    min-height: 0;

    border: var(--section-border);
}

/*============================================================
    PAGE FORMATTING
  ============================================================*/

/* MENU PAGES */
.SplashPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    text-align: center;
}

.AboutPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    padding: 20px 100px;
    gap: 20px;
    width: 100%;
}

.AboutPage-Section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* WORLD/COLLECTION DISPLAY */
    .WorldPage {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px;

        min-height: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .WorldPage-Main {
        flex: 4;
        display: flex;
        flex-direction: column;

        min-height: 0;
    }

        .WorldPage-Title {
            flex: 0 0 auto;
            margin: 10px;
        }

        .WorldPage-Info {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 20px;

            min-height: 0;
        }

            .WorldPage-Description {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 20px;
            
                min-height: 0;
            }

    .WorldPage-Sidebar {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        min-height: 0;
    }

        .WorldPage-Associations {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            min-height: 0;
        }

        .WorldPage-Manage {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

/* CHARACTER DISPLAY */
    .CharacterPage {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;

        min-height: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .CharacterPage-Main {
        flex: 4;
        display: flex;
        flex-direction: column;
        gap: 10px;

        min-height: 0;
    }

        .CharacterPage-Overview {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 10px;

            min-height: 0;
        }
        
            .CharacterPage-Info {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 10px;

                min-height: 0;
            }

                .CharacterPage-Title {
                    flex: 0 0 auto;
                    margin: 10px;
                    align-items: center;
                    justify-items: center;
                }

                .CharacterPage-Description {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    min-height: 0;
                }
        
        .CharacterPage-History {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

    

/* LOCATION PAGE */
    .LocationPage {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;

        min-height: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .LocationPage-Main {
        flex: 4;
        display: flex;
        flex-direction: row;
        gap: 10px;

        min-height: 0;
    }

        .LocationPage-Overview {
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 10px;

            min-height: 0;
        }

            .LocationPage-Image {
                flex: 2;
                display: flex;

                min-height: 0;
            }
        
        .LocationPage-Info {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;

            min-height: 0;
        }
    

/* ORGANIZATION PAGE */
    .OrganizationPage {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;

        min-height: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .OrganizationPage-Main {
        flex: 4;
        display: flex;
        flex-direction: row;
        gap: 10px;

        min-height: 0;
    }

        .OrganizationPage-Info {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;

            min-height: 0;
        }

            .OrganizationPage-Details {
                flex: 1;
                display: flex;
                flex-direction: row;
                gap: 10px;

                min-height: 0;
            }

                .OrganizationPage-Overview {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    min-height: 0;
                }

                .OrganizationPage-Hierarchy {
                    flex: 1;
                    display: flex;

                    min-height: 0;
                }

            .OrganizationPage-Background {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 10px;

                min-height: 0;
            }

/* LORE PAGE */
    .LorePage {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;

        min-height: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .LorePage-Main {
        flex: 4;
        display: flex;
        flex-direction: column;
        gap: 10px;

        min-height: 0;
    }

        .LorePage-Title {
            flex: 0 0 auto;
            margin: 10px;
            align-items: center;
            justify-items: center;
        }

        .LorePage-Info {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 10px;

            min-height: 0;
        }

            .LorePage-Overview {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 10px;

                min-height: 0;
            }

            .LorePage-Details {
                flex: 1;
                display: flex;

                min-height: 0;
            }

/* ENTRY PAGE SIDEBAR */
.EntryPage-Sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    min-height: 0;
}

    .EntryPage-Sidebar-Head{
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    
        .EntryPage-Sidebar-Title {
            font-size: 1.2rem;
            font-weight: bold;
        }

    .EntryPage-Associations {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        min-height: 0;
    }

    .EntryPage-Manage {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

/* OTHER ELEMENTS */

.MenuButton {
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: var(--emphasis-color);

    font-size: 2rem;
}

.MenuButton.disabled {
    background-color: rgb(128, 128, 128);
    color: rgb(64, 64, 64)
}

.ControlButton {
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: var(--emphasis-color);

    font-size: 1.2rem;
}

.ControlButton.disabled {
    background-color: rgb(128, 128, 128);
    color: rgb(64, 64, 64)
}

.DropDown {
    width: max-content;
    padding-left: 5px;
    padding-right: 15px;
    text-align: center;
    background-color: var(--emphasis-color);

    font-size: 200%;
}

.ErrorMessage {
    font-weight: bold;
    color: var(--alert-color);
}

.hidden {
    display: none;
}
